body {
    font: 14px sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(43deg, #000000 0%, #140707 46%, #250303 100%);
    color: white;
    overflow: hidden;
 
}

.userIcon {
 position: fixed;
 top: 28px;
 left: 42px;
}
#threeBar {
    display: none;
}
.navMenu {
    position: fixed;
    top: 28px;
    right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
    width: 505px;
}

a {
    height: 22px;
    width: 88px;
    font-size: 19px;
    text-decoration: none;
    color: white;
}
a:hover {
    font-size: 19.1px;
    font-weight: 800;
    background-image: linear-gradient(47deg, #ffffff 0%, #e7a6a6 46%, #2f0505 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.navLink {
    margin-left: 2em;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container {
    background: transparent;
    backdrop-filter: blur(45px);
    padding: 20px;
    border-radius: 8px;
    border: 10px solid rgba(249, 249, 249, 0.1);
    box-shadow: 0 0 10px rgba(249, 249, 249, 0.1);
    max-width: 500px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0px;
  }
  
h1 {
    color:white;
}

p {
    color: white;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    background-color: #1d0505;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(47deg, #4b3c3c 0%, #2d1c1c 46%, #2f0505 100%);
}

.hidden {
    display: none;
    text-align: center;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    left: 42px;
    bottom: 37.5px;
    height: 26px;
    width: 122px;
}
ion-icon {
    padding: 2px;
    height: 22px;
    width: 22px;
    margin-right: 10px;
    border-radius: 8px;
}
ion-icon:hover {
    height: 25px;
    width: 25px;
}
.instagram:hover {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    cursor: pointer;
}
.facebook:hover {
    background-color: #3151ef;
    cursor: pointer;
}
.twitter:hover {
    background-color: #2748ed;
    cursor: pointer;
}

@media (max-width: 760px) {
    * {
        margin: 0;
        padding: 0;
    }

    .navMenu{
        display: none;
    }

    #threeBar {
        display: block;
        position: absolute;
        right: 3vh;
        top: 2vh;
        cursor: pointer;    
    }

}